VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(6, 1, 7601, 17514),
    prodvers=(6, 1, 7601, 17514),
    mask=0x3f,
    flags=0x0,
    OS=0x40004,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
    ),
  kids=[
    StringFileInfo(
      [
      StringTable(
        u'040904B0',
        [StringStruct(u'CompanyName', u'werogg'),
        StringStruct(u'FileDescription', u'Peer 2 Peer communication protocol working over Tor Network'),
        StringStruct(u'FileVersion', u'0.0.2.0'),
        StringStruct(u'InternalName', u'deprotocol'),
        StringStruct(u'LegalCopyright', u'\xa9 Copyright (C) 2023 werogg'),
        StringStruct(u'OriginalFilename', u'deprotocol.exe'),
        StringStruct(u'ProductName', u'DeProtocol'),
        StringStruct(u'ProductVersion', u'0.0.2.0')])
      ]),
    VarFileInfo([VarStruct(u'Translation', [1033, 1200])])
  ]
)
